
*.env
*.log
config.ini
.vscode/
.env_vars      # Добавляем для переменных SMTP

# Project files / Игнорировать временные файлы

__pycache__/
*.pyc
*.pyd
venv/
.pytest_cache/

# Visual Studio / IDE 
*.suo            # Локальные пользовательские настройки решения
*.user           # Файлы локальных пользовательских настроек
/bin/            # Сборочные папки
/obj/
.vs/
*.sln.docstates
