# Этот файл содержит список внешних библиотек, необходимых для запуска проекта.

# Внешние зависимости (пакеты, устанавливаемые через 'pip'):
# -------------------------------------------------------------
# Отсутствуют. Проект использует только встроенные (стандартные) модули Python.

# Примечание для развертывания:
# -----------------------------
# Для работы скрипту необходима системная утилита 'smartctl'. 
# Она не является Python-библиотекой и должна быть установлена в операционную систему отдельно (smartmontools).